
.pag1-all {
    display: flex;
    align-items: center;
 
    
}



.pag1{
    color: white;
    margin: 30px 30px;
}
.pag-h1{
    font-size: 50px;
    width: 790px;
  
}
.pag1-img{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pag1-p{
    width: 450px;
}